<section class="about-us" id="id-about-us">
  <div class="container abuut-inner">
    <div class="content-about-us">
      <h2 class="about-title">About Us</h2>
      <ul class="about-list">
        <li class="about-item">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </li>
        <li class="about-item">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </li>
      </ul>
      <a href="#catalog" class="about-btn">View catalog</a>
    </div>
    <div class="about-us-img-container">
      <picture class="about-us_img">
        <source
          media="(min-width: 1280px)"
          srcset="/img/about-us-min.jpg 1x, /img/about-us-2x-min.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/about-us-tab-min.jpg 1x, /img/about-us-tab-2x-min.jpg 2x"
          width="704"
        />
        <source
          media="(min-width: 320px)"
          srcset="/img/about-us-mob-min.jpg 1x, /img/about-us-mob-2x-min.jpg 2x"
        />
        <img
          src="/img/about-us-min.jpg"
          alt="premium watch photo"
          width="530"
        />
      </picture>
    </div>
  </div>
</section>
