<section class="catalog" id="id-catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/catalog-1.png 1x, /img/catalog-1-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/catalog-1-tab.png 1x, /img/catalog-1-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/catalog-1-mob.png 1x, /img/catalog-1-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/catalog-1.png"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            width="304"
            height="312"
            class="catalog-images"
          />
        </picture>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-item-text">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/catalog-2.png 1x, /img/catalog-2-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/catalog-2-tab.png 1x, /img/catalog-2-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/catalog-2-mob.png 1x, /img/catalog-2-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/catalog-2.png"
            alt="Garmin Marq Athlete"
            width="304"
            height="312"
            class="catalog-images"
          />
        </picture>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-item-text">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/catalog-3.png 1x, /img/catalog-3-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/catalog-3-tab.png 1x, /img/catalog-3-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/catalog-3-mob.png 1x, /img/catalog-3-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/catalog-3.png"
            alt="Garmin Descent MK1"
            width="304"
            height="312"
            class="catalog-images"
          />
        </picture>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-item-text">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/catalog-4.png 1x, /img/catalog-4-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/catalog-4-tab.png 1x, /img/catalog-4-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/catalog-4-mob.png 1x, /img/catalog-4-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/catalog-4.png"
            alt="Garmin D2 Delta PX"
            width="304"
            height="312"
            class="catalog-images"
          />
        </picture>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-item-text">€380</p>
        </div>
      </li>
      <li class="catalog-item fifth">
        <picture>
          <source
            srcset="/img/catalog-5.png 1x, /img/catalog-5-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/catalog-5-tab.png 1x, /img/catalog-5-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/catalog-5-mob.png 1x, /img/catalog-5-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/catalog-5.png"
            alt="Garmin Fenix 6 Pro Solar"
            width="304"
            height="312"
            class="catalog-images"
          />
        </picture>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-item-text">€400</p>
        </div>
      </li>
      <li class="catalog-item sixth">
        <picture>
          <source
            srcset="/img/catalog-6.png 1x, /img/catalog-6-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/catalog-6-tab.png 1x, /img/catalog-6-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/catalog-6-mob.png 1x, /img/catalog-6-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/catalog-6.png"
            alt="Tube Watch S42 Date Steel With Black Case"
            width="304"
            height="312"
            class="catalog-images"
          />
        </picture>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-item-text">€395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-button" type="button">Show more</button>
  </div>
</section>
