<footer class="footer" id="footer">
  <div class="footer-inner container">
    <div class="footer-top-content">
      <div class="container-for-logo-socials">
        <a class="footer-logo" href="/index.html">watchcharm</a>
        <ul class="footer-socials">
          <li class="social-nav-item">
            <a
              class="social-nav-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="social-nav-icon" width="18" height="18">
                <use href="./img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-nav-item">
            <a
              class="social-nav-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="social-nav-icon" width="18" height="18">
                <use href="./img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-nav-item">
            <a
              class="social-nav-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="social-nav-icon" width="18" height="18">
                <use href="./img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-phone-number">
        <a class="footer_number" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </div>
      <p class="footer-main_text">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
    </div>
    <div class="footer-middle-content">
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="/index.html">Home</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#id-about-us">About Us</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="id-catalog">Catalog</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="id-sale">Sale</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#id-reviews">Reviews</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>
      <p class="footer-middle_text">
        1678 S. Pioneer Road Salt Lake City UT 84104
      </p>
    </div>
    <div class="footer-bottom-content">
      <p class="footer-left-text">©2023 The Watch Spot. All rights reserved.</p>
      <ul class="footer-bottom-list">
        <li class="footer-bottom-item">
          <a
            class="footer-bottom-link"
            href="https://goit.global/ua/terms-of-use/"
            >Terms of Service</a
          >
        </li>
        <li class="footer-bottom-item">
          <a
            class="footer-bottom-link"
            href="https://goit.global/ua/privacy-policy/"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
