<header class="watch-charm">
	<div class="header-inner container">
		<a href="#" class="header-logo">watchcharm</a>
		<button type="button" class="header_burger">
			<svg class="header-social__svg" width = "25.5" height="10">
				<use href="../img/sprite.svg#icon-Icon"></use>
			</svg>
		</button>
		<nav class="header-nav">
			<ul class="header-nav-list">
				<li class="nav-list-item"><a href="" class="nav-list_link nav-list_main-link">Home</a></li>
				<li class="nav-list-item"><a href="" class="nav-list_link">About Us</a></li>
				<li class="nav-list-item"><a href="" class="nav-list_link">Catalog</a></li>
				<li class="nav-list-item"><a href="" class="nav-list_link">Sale</a></li>
				<li class="nav-list-item"><a href="" class="nav-list_link">Reviews</a></li>
				<li class="nav-list-item"><a href="" class="nav-list_link">Contact Us</a></li>
			</ul>
		</nav>
		<address class="header-socials">
			<ul class="header-socials-list">
				<li class="socials-list-item">
					<a href="" class="socials-item-link">
						<svg class="header-social__svg" width = "20" height="20">
							<use href="../img/sprite.svg#facebook"></use>
						</svg>
					</a>
				</li>
				<li class="socials-list-item">
					<a href="" class="socials-item-link">
						<svg class="header-social__svg" width = "20" height="20">
							<use href="../img/sprite.svg#instagram"></use>
						</svg>
					</a>
				</li>
				<li class="socials-list-item">
					<a href="" class="socials-item-link">
						<svg class="header-social__svg" width = "20" height="20">
							<use href="../img/sprite.svg#youtube"></use>
						</svg>
					</a>
				</li>
			</ul>
		</address>
	</div>
	<div class="media-menu">
		<div class="media-menu-inner">
			<button class="close-menu" type="button">
				<svg class="header-social__svg" width = "34" height="34">
					<use href="../img/sprite.svg#icon-x"></use>
				</svg>
			</button>
			<nav class="media-menu-nav">
				<ul class="media-nav-list">
					<li class="media-list-item"><a href="" class="nav-list_link nav-list_main-link">Home</a></li>
					<li class="media-list-item"><a href="" class="media-list_link">About Us</a></li>
					<li class="media-list-item"><a href="" class="media-list_link">Catalog</a></li>
					<li class="media-list-item"><a href="" class="media-list_link">Sale</a></li>
					<li class="media-list-item"><a href="" class="media-list_link">Reviews</a></li>
					<li class="media-list-item"><a href="" class="media-list_link">Contact Us</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
