<header class="watch-charm">
  <div class="header-inner container">
    <a href="#" class="header-logo">watchcharm</a>
    <button type="button" class="burger-menu">
      <svg class="header-social__svg" width="25.5" height="10">
        <use href="/img/sprite.svg#icon-menu-05"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="nav-list-item">
          <a href="#" class="nav-list_link nav-list_main-link">Home</a>
        </li>
        <li class="nav-list-item">
          <a href="#" class="nav-list_link">About Us</a>
        </li>
        <li class="nav-list-item">
          <a href="#" class="nav-list_link">Catalog</a>
        </li>
        <li class="nav-list-item"><a href="" class="nav-list_link">Sale</a></li>
        <li class="nav-list-item">
          <a href="#" class="nav-list_link">Reviews</a>
        </li>
        <li class="nav-list-item">
          <a href="#" class="nav-list_link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <address class="header-socials">
      <ul class="header-socials-list">
        <li class="socials-list-item">
          <a href="https://www.facebook.com/goITclub/" class="socials-item-link">
            <svg class="header-social__svg" width="20" height="20">
              <use href="/img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list-item">
          <a href="https://www.instagram.com/goitclub/" class="socials-item-link">
            <svg class="header-social__svg" width="20" height="20">
              <use href="/img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list-item">
          <a href="https://www.youtube.com/c/GoIT" class="socials-item-link">
            <svg class="header-social__svg" width="20" height="20">
              <use href="/img/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
  <div class="media-menu">
    <div class="media-menu-inner">
      <button class="close-menu" type="button">
        <svg class="header-social__svg" width="34" height="34">
          <use href="/img/sprite.svg#icon-x"></use>
        </svg>
      </button>
      <nav class="media-menu-nav">
        <ul class="media-nav-list">
          <li class="media-list-item">
            <a href="#" class="media-menu-link media-home-after">Home</a>
          </li>
          <li class="media-list-item">
            <a href="#" class="media-menu-link">About Us</a>
          </li>
          <li class="media-list-item">
            <a href="#" class="media-menu-link">Catalog</a>
          </li>
          <li class="media-list-item">
            <a href="#" class="media-menu-link">Sale</a>
          </li>
          <li class="media-list-item">
            <a href="#" class="media-menu-link">Reviews</a>
          </li>
          <li class="media-list-item">
            <a href="#" class="media-menu-link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <address class="media-socials">
        <ul class="media-socials-list">
          <li class="madia-socials-item">
            <a href="https://www.facebook.com/goITclub/" class="media-socials-link">
              <svg class="media-social__svg" width="20" height="20">
                <use href="/img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="madia-socials-item">
            <a href="https://www.instagram.com/goitclub/" class="media-socials-link">
              <svg class="media-social__svg" width="20" height="20">
                <use href="/img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="madia-socials-item">
            <a href="https://www.youtube.com/c/GoIT" class="media-socials-link">
              <svg class="media-social__svg" width="20" height="20">
                <use href="/img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
