<section class="container hero">
  <div class="hero-content-wi">
    <div class="hero-texts">
      <h1 class="hero-title">
        Welcome to our <span class="hero-title-colored">collection</span> of
        premium watches
      </h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-photos-scroll">
      <div class="photo-container">
        <div class="hero-img">
          <picture>
            <source
              srcset="/img/hero1-min.jpg 1x, /img/hero1-2x-min.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="/img/hero1-tab-min.jpg 1x, /img/hero1-tab-2x-min.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/hero1-mob-min.jpg 1x, /img/hero1-mob-2x-min.jpg 2x"
              media="(min-width: 320px)"
            />
            <img
              src="/img/hero1-min.jpg"
              alt="team's member photo"
              width="60"
            />
          </picture>
        </div>
        <div class="hero-img hero-img-2">
          <picture>
            <source
              srcset="/img/hero2-min.jpg 1x, /img/hero2-2x-min.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="/img/hero2-tab-min.jpg 1x, /img/hero2-tab-2x-min.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/hero2-mob-min.jpg 1x, /img/hero2-mob-2x-min.jpg 2x"
              media="(min-width: 320px)"
            />
            <img
              src="/img/hero2-min.jpg"
              alt="team's member photo"
              width="60"
            />
          </picture>
        </div>
        <div class="hero-img hero-img-3">
          <picture>
            <source
              srcset="/img/hero3-min.jpg 1x, /img/hero3-2x-min.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="/img/hero3-tab-min.jpg 1x, /img/hero3-tab-2x-min.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/hero3-mob-min.jpg 1x, /img/hero3-mob-2x-min.jpg 2x"
              media="(min-width: 320px)"
            />
            <img
              src="/img/hero3-min.jpg"
              alt="team's member photo"
              width="60"
            />
          </picture>
        </div>
      </div>
      <div class="scroll-wrapper">
        <a href="#footer" class="hero-scroll">Scroll down</a>
      </div>
    </div>
  </div>
  <div class="hero-main-picture">
    <picture class="hero-watch-img">
      <source
        srcset="/img/hero-watch-min.jpg 1x, /img/hero-watch-2x-min.jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /img/hero-watch-tab-min.jpg    1x,
          /img/hero-watch-tab-2x-min.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/hero-watch-mob-min.jpg    1x,
          /img/hero-watch-mob-2x-min.jpg 2x
        "
        media="(min-width: 320px)"
      />
      <img src="/img/hero-watch-min.jpg" alt="premium watch" width="1150" />
    </picture>
  </div>
</section>
