<section class="reviews" id="id-reviews">
	<div class="container">
		<h2 class="reviews-title">Reviews</h2>
		<ul class="reviews-ul">
			<li class="reviews-list">
				<div class="reviews-box-img">
					<picture class="reviews-img">
						<source
							srcset="/img/hero2-min.jpg 1x, /img/hero2-2x-min.jpg 2x"
							media="(min-width: 1280px)"
						/>
						<source
							srcset="/img/hero2-tab-min.jpg 1x, /img/hero2-tab-2x-min.jpg 2x"
							media="(min-width: 768px)"
						/>
						<source
							srcset="/img/hero2-mob-min.jpg 1x, /img/hero2-mob-2x-min.jpg 2x"
							media="(min-width: 320px)"
						/>
						<img
							src="/img/hero2-min.jpg"
							alt="team's member photo"
							width="60"
						/>
					</picture>
				</div>
				<h3 class="reviews-name">John Wax</h3>
				<p class="reviews-text">
					Buying a watch from was the best choice for me. The design is
					perfectly combined with high quality materials. The strap fits nicely
					on the hand, and the mechanism works flawlessly.
				</p>
			</li>
			<li class="reviews-list hidden-element-mod">
				<div class="reviews-box-img">
					<picture class="reviews-img">
						<source
							srcset="/img/hero1-min.jpg 1x, /img/hero1-2x-min.jpg 2x"
							media="(min-width: 1280px)"
						/>
						<source
							srcset="/img/hero1-tab-min.jpg 1x, /img/hero1-tab-2x-min.jpg 2x"
							media="(min-width: 768px)"
						/>
						<source
							srcset="/img/hero1-mob-min.jpg 1x, /img/hero1-mob-2x-min.jpg 2x"
							media="(min-width: 320px)"
						/>
						<img
							src="/img/hero1-min.jpg"
							alt="team's member photo"
							width="60"
						/>
					</picture>
				</div>
				<h3 class="reviews-name">Victoria Romashenko</h3>
				<p class="reviews-text">
					Can't take my eyes off my watch from. Every time I put it on, it is
					admired by those around me. The build quality and attention to detail
					make it a real gem among my accessories.
				</p>
			</li>

			<li class="reviews-list hidden-element-mod hidden-element-tab">
				<div class="reviews-box-img">
					<picture class="reviews-img">
						<source
							srcset="/img/hero3-min.jpg 1x, /img/hero3-2x-min.jpg 2x"
							media="(min-width: 1280px)"
						/>
						<source
							srcset="/img/hero3-tab-min.jpg 1x, /img/hero3-tab-2x-min.jpg 2x"
							media="(min-width: 768px)"
						/>
						<source
							srcset="/img/hero3-mob-min.jpg 1x, /img/hero3-mob-2x-min.jpg 2x"
							media="(min-width: 320px)"
						/>
						<img
							src="/img/hero3-min.jpg"
							alt="team's member photo"
							width="60"
						/>
					</picture>
				</div>
				<h3 class="reviews-name">Anastasia Trachuk</h3>
				<p class="reviews-text">
					My watch from is a real masterpiece. Every detail impresses with the
					high quality of execution. Special features like [specify features]
					make it an indispensable companion in my daily life.
				</p>
			</li>
		</ul>
	</div>
</section>
