<section class="reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <ul class="reviews-ul">

            <li class="reviews-list">
                <picture class="">
                    <source srcset="">
                </picture>
                <img src="/img/John Wax.jpg" alt="Photo John Wax" width="56" class="reviews-img">

                <h3 class="reviews-name">John Wax</h3>
                <p class="reviews-text">Buying a watch from was the best choice for me. The design is perfectly combined
                    with high
                    quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
            </li>

            <li class="reviews-list hidden-element-mod">
                <img src="/img/Victoria Romashenko.jpg" alt="Photo Victoria Romashenko" width="56" class="reviews-img">
                <h3 class="reviews-name">Victoria Romashenko</h3>
                <p class="reviews-text">Can't take my eyes off my watch from. Every time I put it on, it is admired by
                    those around me. The build quality and attention to detail make it a real gem among my accessories.
                </p>
            </li>

            <li class="reviews-list hidden-element-mod hidden-element-tab">
                <img src="/img/Anastasia Trachuk.jpg" alt="Photo Anastasia Trachuk" width="56" class="reviews-img">
                <h3 class="reviews-name">Anastasia Trachuk</h3>
                <p class="reviews-text">My watch from is a real masterpiece. Every detail impresses with the high
                    quality of execution. Special features like [specify features] make it an indispensable companion in
                    my daily life.</p>
            </li>
        </ul>

    </div>

</section>


<!-- <picture class="">
    <source srcset= media="(min-width: 1280px)" />
    <source srcset= media="(min-width: 768px)" />
    <source srcset= media="(max-width: 767px)" />
    <img src= />
</picture> -->