<section class="reviews">
    <div class="container">
        <h1 class="reviews-title">Reviews</h1>
        <ul class="reviews-ul">
            <li class="reviews-list">
                <img src="/img/John Wax.jpg" alt="Photo John Wax" width="56" height="56">
            </li>

            <li class="reviews-list">
                <img src="/img/Victoria Romashenko.jpg" alt="Photo Victoria Romashenko" width="56" height="56">
            </li>

            <li class="reviews-list">
                <img src="/img/Anastasia Trachuk.jpg" alt="Photo Anastasia Trachuk" width="56" height="56">
            </li>
        </ul>

    </div>

</section>