<section id="id-sale" class="sale-section">
  <div class="sale-inner container">
    <h2 class="sale-title">Sale</h2>
    <div class="watch-picture">
      <div class="sale-container-pictures">
        <div class="sale-watch-buttons">
          <button class="watch-desing" type="button">
            <picture>
              <source
                srcset="
                  /img/sale-front-desk-1x.png,
                  /img/sale-front-desk-2x.png 2x
                "
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  /img/sale-front-tab-1x.png 1x,
                  /img/sale-front-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale-front-mob-1x.png   1x,
                  /img/sale-front-mob-2x.png2x
                "
                media="(min-width: 320px)"
              />
              <img
                alt="MARQ Commander 1"
                src="/img/sale-front-desk-1x.png"
                width="100"
                height="92"
              />
            </picture>
          </button>
          <button class="watch-desing" type="button">
            <picture>
              <source
                srcset="
                  /img/sale-front-on-desk-1x.png,
                  /img/sale-front-on-desk-2x.png 2x
                "
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  /img/sale-front-on-tab-1x.png 1x,
                  /img/sale-front-on-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale-front-on-mob-1x.png 1x,
                  /img/sale-front-on-mob-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                alt="MARQ Commander 2"
                src="/img/sale-front-on-desk-1x.png"
                width="100"
                height="92"
              />
            </picture>
          </button>
          <button class="watch-desing" type="button">
            <picture>
              <source
                srcset="
                  /img/sale-side-desk-1x.png 1x,
                  /img/sale-side-desk-2x.png 2x
                "
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  /img/sale-side-tab-1x.png 1x,
                  /img/sale-side-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale-side-mob-1x.png 1x,
                  /img/sale-side-mob-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                alt="MARQ Commander 3"
                src="/img/sale-side-desk-1x.png"
                width="100"
                height="92"
              />
            </picture>
          </button>
          <button class="watch-desing" type="button">
            <picture>
              <source
                srcset="
                  /img/sale-back-desk-1x.png 1x,
                  /img/sale-back-desk-2x.png 2x
                "
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  /img/sale-back-tab-1x.png 1x,
                  /img/sale-back-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale-back-mob-1x.png 1x,
                  /img/sale-back-mob-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                alt="MARQ Commander 4"
                src="/img/sale-back-desk-1x.png"
                width="100"
                height="92"
              />
            </picture>
          </button>
        </div>
        <div class="main-picture">
          <picture>
            <source
              srcset="
                /img/sale-main-desk-1x.png 1x,
                /img/sale-main-desk-2x.png 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="/img/sale-main-tab1x.png 1x, /img/sale-main-tab2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale-main-mob-1x.png 1x,
                /img/sale-main-mob-2x.png 2x
              "
            />
            <img
              alt="MARQ Commander 5"
              src="/src/img/sale-main-desk-1x.png"
              width="328"
              height="398"
            />
          </picture>
        </div>
      </div>

      <div class="sale-text">
        <h3 class="header-3">MARQ&reg; Commander (Gen 2) - Carbon Edition</h3>
        <p class="p-one">Product tag: 706587</p>
        <div class="sale-price-container">
          <p class="sale-discont-price">&euro;1500</p>
          <p class="sale-full-price">&euro;3000</p>
        </div>
        <p class="p-three">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-fetures">
          <li class="sale-features_text">Fused carbon fiber</li>
          <li class="sale-features_text">Grade-5 Titanuim</li>
          <li class="sale-features_text">Athlete</li>
          <li class="sale-features_text">Golfer</li>
          <li class="sale-features_text">Commander</li>
          <li class="sale-features_text">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
