html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  background-color: #fbfbfb;
  /* background: -webkit-linear-gradient(90deg,#eeff00,#0400ff);background: linear-gradient(90deg,#eeff00,#0400ff); */
}

.container {
  max-width: 375px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  h2 {
    font-size: 48px;
    line-height: 44px;
    line-height: 0.92;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
