.contact {
}
.container {
}
.contact-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.contact-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.modal {
  display: block;
  border-radius: 30px;
  padding: 48px 28px;
  width: 100%;
  background: #f3f3f3;
}
.contact-modal-text {
  margin-bottom: 28px;
  width: 100%;
}
.modal-contact {
  display: flex;
  gap: 18px;
  flex-direction: column;
}
.modal-contact-form {
}
.modal-label {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  width: 100%;
  height: 42px;
}
.modal-contact-comment {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  width: 100%;
  height: 84px;
}
.modal-text {
}
.modal-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  background: #3350e9;
}
.contact-img {
  border-radius: 30px;
}
