.contact {
  margin-top: 60px;
}

.contact-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.contact-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.modal {
  display: block;
  border-radius: 30px;
  padding: 48px 28px;
  width: 100%;
  background: #f3f3f3;
}

.contact-modal-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
  width: 100%;
}

.modal-contact {
  display: flex;
  gap: 18px;
  flex-direction: column;
}

.modal-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
}

.modal-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  width: 100%;
  height: 42px;
  background-color: transparent;
}

.modal-contact-comment {
  margin-bottom: 10px;
  background: #f3f3f3;
}

.modal-text {
  resize: none;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  width: 100%;
  height: 84px;
  background: #f3f3f3;
}

.modal-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  background: #3350e9;
}

.contact-img {
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .contact {
    margin-top: 80px;
  }

  .contact-title {
    font-size: 48px;
    line-height: 0.92;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 40px;
  }

  .modal {
    padding: 50px 122px;
    border-radius: 50px;
  }

  .contact-wrapper {
    gap: 40px;
  }

  .contact-modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 32px;
    width: 100%;
  }

  .modal-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0c0c0c;
  }

  .modal-contact-comment {
    margin-bottom: 14px;
  }

  .modal-button {
    border-radius: 16px;
    padding: 17px 63px;
    width: 160px;
    height: 52px;
  }

  .contact-img {
    border-radius: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .contact {
    margin-top: 100px;
  }

  .contact-wrapper {
    flex-direction: row;
    gap: 40px;
  }

  .modal {
    padding: 50px 60px;
    flex: 1;
    max-width: 580px;
  }

  .contact-img {
    flex: 1;
  }
}
