.footer {
  width: 100%;
  background-color: #0c0c0c;
  border-radius: 30px;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 28px;
}
.footer-top-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-bottom: 92px;
}
.container-for-logo-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.footer-logo {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.social-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  transition: border-color 350ms ease;
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
}
.footer-socials {
  display: flex;
  gap: 10px;
}

.social-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-nav-icon {
  fill: #fbfbfb;
  opacity: 0.8;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-nav-item:hover,
.social-nav-item:focus {
  border-color: #fbfbfb;
}
.social-nav-item:hover .social-nav-icon,
.social-nav-item:focus .social-nav-icon {
  fill: #fbfbfb;
  opacity: 1;
}
.footer-phone-number {
  border: 1px solid rgba(251, 251, 251, 0.2);
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 16px;
  padding: 14px 20px;
}
.footer-phone-number:hover,
.footer-phone-number:focus {
  border-color: #fbfbfb;
}
.footer_number {
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  opacity: 1;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-phone-number:hover .footer_number,
.footer-phone-number:focus .footer_number {
  color: #fbfbfb;
  opacity: 0.8;
}
.footer-main_text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 279px;
}
.footer-middle-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  max-width: 279px;
}
.footer-nav {
  display: flex;
  max-width: 100%;
}
.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  max-width: 147px;
}
.footer-nav-link {
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
  opacity: 1;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fbfbfb;
  opacity: 0.8;
}
.footer-middle_text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #fbfbfb;
  max-width: 83px;
}
.footer-bottom-content {
  display: flex;
  flex-direction: column;
  max-width: 279px;
  width: 100%;
}
.footer-left-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}
.footer-bottom-list {
  display: flex;
}
.footer-bottom-link {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
  margin-right: 20px;
}
.footer-bottom-link:hover,
.footer-bottom-link:focus {
  color: rgba(251, 251, 251, 1);
}
@media (min-width: 768px) {
}
@media (min-width: 1280px) {
}
