.footercontainer {
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
  width: 335px;
  height: 581px;
  background-color: #0c0c0c;
}
.social-container {
}
.logo-block {
}
.logo {
}
.social-block {
}
.social-nav {
}
.social-nav-list {
}
.social-nav-item {
}
.social-nav-link {
}
.social-nav-icon {
}
