/* //header main style/// */
.watch-charm {
  width: 100%;
  padding: 27.5px 0 27.5px;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  stroke-width: 2.5px;
  stroke: #0c0c0c;
}

.header-nav {
  display: none;
}

.header-socials {
  display: none;
}

.header-logo {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

/* #region  media-menu*/
.media-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 200px;
  background-image: url(../img/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(12, 12, 12, 0.92);
  z-index: 999;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.media-menu.is-open-menu {
  transform: translateX(0%);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.close-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  stroke: #fbfbfb;
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu:hover {
	opacity: 0.8;
}


/* #region  media-nav*/
.media-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.media-after {
  position: relative;
  padding-bottom: 10px;
}

.media-after::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: transparent;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-after:hover::after {
	background-color: #3350e9;
}

.media-after:focus::after {
	background-color:#3350E9;
  }

.media-menu-link {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
}
/* #endregion  media-nav*/

/* #region  media-socials*/
.media-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  gap: 10px;
}

.media-socials-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-socials-link:hover {
	opacity: 1;
  }
  
  .media-socials-link:focus {
	opacity: 1;
  }

.media-social__svg {
  fill: #fbfbfb;
  opacity: 0.8;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-social__svg:hover {
  opacity: 1;
}

.media-social__svg:focus {
  opacity: 1;
}

/* #endregion  media-socials*/

/* #endregion  media-menu*/

@media (min-width: 768px) {
  .media-menu {
    max-width: 330px;
  }
}

@media (min-width: 1280px) {
  .watch-charm {
    padding: 30px 0 30px;
  }

  .header-nav {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .header-logo {
    font-size: 20px;
  }

  .header-nav-list {
    display: flex;
    align-items: baseline;
    gap: 40px;
  }

  .header-socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-socials-list {
    display: flex;
    gap: 10px;
  }

  .nav-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #0c0c0c;
  }

  .nav-list_main-link {
    font-family: 'Gilroy', sans-serif;
    position: relative;
    padding-bottom: 10px;
  }

  .nav-list_main-link::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: transparent;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
	transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list_main-link:hover::after {
	background-color:#3350E9;
  }

  .nav-list_main-link:focus::after {
	background-color:#3350E9;
  }

  .socials-list-item {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
	transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .socials-list-item:hover{
	border-color: rgba(51, 80, 233, 0.1);
  }
  .socials-list-item:focus{
	border-color: rgba(51, 80, 233, 0.1);
  }

  .burger-menu {
    display: none;
  }

  .header-social__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #0c0c0c;
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social__svg:hover {
    opacity: 0.8;
    fill: #3350e9;
  }
  .header-social__svg:focus {
    opacity: 0.8;
    fill: #3350e9;
  }

  .nav-list_link {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #0c0c0c;
  }
}
