/* scroll-up */

/* 2 open */
.scroll-up.is-open-scroll {
  pointer-events: auto;
  opacity: 0.8;
  visibility: visible;
}

/* 1 close*/
.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: scale(1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: scroll;
  animation-duration: 2s;
}

@keyframes scroll {
	from{
	bottom: -100px;
	right: -100px
	}
	to {
		bottom: 20px;
		right: 20px;
	}
}